.border{

	border: 1px solid #000000;
	width: 700px;
	height: 700px;
	margin: auto;

}

.project,.log{
border: 2px solid #000000;
background: #e8dd92;


}
.project{
	text-align: right ;
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;
	
	height: 70px;
	font-family: arial;
}
.log{
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;
	height: 25px;
	margin-bottom: 4px;
}

.login,.sign{
	margin-top: 2px;
	float: left;
	margin-right: 2px;
	border: 1px solid black;
	text-align: center;

}

.login{
width: 86px;
position: relative;
left: 528px;

}

.sign{
width: 70px;
position: relative;
left: 530px;

}

.main{
margin-left: 3px;
border: 2px solid black;
width: 180px;
height: 580px;
position: relative;
bottom: 15px;
background: #e8dd92;
}

.grad,.commerce{
	margin-top: 2px;
	margin-left: 3px;
	border: 1px solid black;
	width: 150px;
	height: 20px;
	text-align: center;
	padding: 10px;
}

.commerce{
	margin-top: 0px;
}


.welcome{
	border: 2px solid black;
	width: 490px;
	position: relative;
	bottom: 600px;
	left: 200px;
background: #e8dd92;

}

.next{
background: #e8dd92;
	border: 2px solid black;
	width: 490px;
	height: 256px;
	position: relative;
	bottom: 600px;
	left: 200px;
}

.admin,.user{

	width: 86px;
	height: 20px;
	background: white;


}

.admin{

	border: 1px solid black;
	position: relative;
	bottom: 16px;
	right: 41px;


}

.user{
	border: 1px solid black;
	position: relative;
	bottom: 17px;
	right: 41px;

}

.manage,.market{
	width: 170px;
	height: 35px;
	background: white;
	text-align: center;
	 padding-top: 5px ;

	
	
}

.manage{

border: 1px solid black;
position: relative;
bottom: 16px;
right: 37px;

}

.market{
border: 1px solid black;
position: relative;
bottom: 16px;
right: 37px;
}